body {
  background-color: rgb(240, 242, 245);
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.clickable {
  cursor: pointer;
}

.flex {
  display: flex;
}
